<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizacion</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
    <br>
    <div class="container" style="background-color: rgb(207, 166, 219);">
        <center>
            <h2>Cotizacion</h2>
            <hr>
        </center>
        <form action="/cotizacion" method="post">
            <label for="">Valor del Automovil</label>
            <input type="number" id="valor" name="valor" required="true" value=<%=valor%>>
            <br><br>
            <label for="">Porcentaje de Pago</label> 
            <select name="pinicial" id="pinicial">
                <option value="10">10%</option>
                <option value="30">30%</option>
                <option value="50">50%</option>
                <option value="70">70%</option>
            </select> <br> <br>
            <label for="">Plazos</label>
            <select name="plazos" id="plazos">
                <option value="12">12 meses</option>
                <option value="24">24 meses</option>
                <option value="36">36 meses</option>
                <option value="48">48 meses</option>
                <option value="60">60 meses</option>
            </select>
            <br><br>
            <center>
                <button type="submit" style="background-color: rgb(93, 31, 151); border-color: none; border-end-end-radius: 40%; border-top-left-radius: 40%; color: white;">Calcular</button>
                <button id="Limpiar" style="background-color: rgb(93, 31, 151); border-color: none; border-end-end-radius: 40%; border-top-left-radius: 40%; color: white;">Limpiar</button>
            </center>
            <%{
            let pagoInicial = 0;
            let Totalfin = 0;
            let pmencual = 0;

            if(valor!=null){
                pagoInicial = valor * (pinicial/100);
                Totalfin = valor - pagoInicial;
                pmencual = Totalfin/plazos
            }
            %>
            <hr>
            <h3>Informcion de la cotizacion</h3>
            <hr><br>
            <div style="background-color: rgb(161, 126, 172);">
                <center>
                    Valor del Automovil: <%=valor%> <br> 
                    Porcentaje de pago: <%=pinicial%> <br> 
                    Plazos: <%=plazos%> <br>
                    pagoInicial: <%=pagoInicial%> <br> 
                    Total a financiar: <%=Totalfin%> <br> 
                    Pago Mensual: <%=pmencual%>
                </center>
            </div>
            <%
            }
            %>
            <br>
            <br>
            <hr>
        </form>
    </div>
</body>
<script>
    document.getElementById("Limpiar").addEventListener("click", () =>{
        window.location.href = window.location.href;
    })
</script>
</html>