<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html')%>
<body>
    <div>
        <center>
            <form action="">
                <label for="">Num Boleto</label>
                <input type="text" id="NBoletos" name="NBoletos"> <br> <br>
                <label for="">Destino</label>
                <input type="text" id="destino" name="destino"> <br> <br>
                <label for="">Nombre del Cliente</label>
                <input type="text" id="NCliente" name="NCliente"> <br> <br>
                <label for="">Años Cumplidos</label>
                <input type="text" id="ACumplidos" name="ACumplidos"> <br> <br>
                <label for="">Tipo de viaje</label>
                <select name="TdViaje" id="TdViaje">
                    <option value="1">Sencillo</option>
                    <option value="2">Doble</option>
                </select> <br> <br>
                <label for="">Precio</label>
                <input type="text" id="precio" name="precio"> 
                <br>
                <hr>
                <br>
                <center>
                    <button type="submit">Calcular</button> 
                    <button type="reset">Limpiar</button> <br> <br>
                </center>
                <label for="">SubTotal</label> 
                <input type="text" id="STotal" name="STotal"> <br> <br>
                <label for="">Impuesto</label> 
                <input type="text" id="imp" name="imp"> <br> <br>
                <label for="">Descuento</label>
                <input type="text" id="des" name="des"> <br> <br>
                <label for="">Total a pagar</label>
                <input type="text" id="TPagar" name="TPagar"> <br> <br>
            </form>
        </center>
    </div>
    <%-include('partials/piePagina.html')%>
</body>
<script src="./js/bootstrap.min.js"></script>
</html>